<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-dark text-white" style="opacity: 0.95;">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white text-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark text-white" style="opacity: 0.95;">
        <ul class="list-group" style="list-style: none;">
            <% routes.forEach(({ pathname, label })=> { %>
                <li class="offcanvs-nav_link">
                    <a class="list-group-item list-group-item-action
                     text-dark <%= pathname === pageId ? " active text-white" : "router-no-active-link" %>"
                        aria-current="page" href="<%= pathname %>">
                            <%= label %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
</div>