<div
  class="modal fade custom_modal_styling"
  id="imageSliderModal"
  tabindex="-1"
  aria-labelledby="imageSliderModalLabel"
  aria-hidden="true"
>
  <div class="modal-xl modal-dialog modal-dialog-centered">
    <div class="modal-content custom_content_modal">
      <div class="modal-header custom_modal_header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn text-white" data-bs-dismiss="modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
            />
          </svg>
        </button>
      </div>
      <div id="modalBodyImageSlide" class="modal-body custom_modal_body">
        <button
          type="button"
          class="btn btn-light modal_slider_btn modal_slider_btn_prev"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
            />
          </svg>
        </button>
        <img
          class="fade modal_slider_preview_image"
          width="400"
          height="400"
          src="https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/75e2f326ddfa5d2f90704173/pexels-photo-911758.jpeg"
          alt="Sample"
        />
        <button
          type="button"
          class="btn btn-light modal_slider_btn modal_slider_btn_next"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
            />
          </svg>
        </button>
      </div>
      <div class="modal-footer custom_modal_footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
