<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BootstrapConnect -->
    <%- include('../partials/head/bootstrap'); %>
  </head>

  <body>
    <!-- NavBar -->
    <%- include('../partials/header/header'); %>

    <!-- OffCanvas -->
    <%- include('../partials/offcanvas/offcanvas'); %>
  </body>
</html>
