<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin panel Decorus Scan</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootstrapConnect -->
    <%- include('../../partials/head/bootstrap'); %>
        <link rel="stylesheet" href="./styles/css/admin-panel.css">
</head>

<body>

    <!-- AdminPanelAside -->
    <%- include('../../partials/admin-sidebar/sidebar'); %>

        <main class="admin-panel_content">
            <div class="d-flex align-items-center justify-content-between px-5">
                <h1>Admin panel</h1>
                <div>Main page</div>
            </div>
        </main>

</body>

</html>